#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  margin-left: auto;
  margin-left: auto;
 
}


.logo:hover {
  filter: drop-shadow(0 0 2em #484848aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #6fbdd2aa);
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #66a3c0;
}
.header{
  display: flex;

  align-items: center;


}

.calendar{
  display: inline-block;
  background-color: rgb(255, 255, 255);
}

.gradient-text {
  background: linear-gradient(to bottom, #9cc6ef, #deabea);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 24px;

}

.custom-appbar {
  background-color: #ffffff; 
}

.cos-button{
  margin: 20px;
}



.custom-appbar {
  background-color: #1c1c1c;
 width: 83.6em; 
}

